<footer id="footer" role="contentinfo">
  <nav role="navigation">
    <a href="/about">About</a>
    <a href="/web">Web</a>
    <a href="/tech">Tech Support</a>
    <a href="/activity">Activity</a>
    <a href="/contact">Contact</a>
  </nav>
  <p>COWTEK<br>&copy 2017</p>
  <div id="social-media">
    <a href="https://www.facebook.com/cowtek"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/cowtek"><i class="fa fa-instagram"></i></a>
    <br>
    <a href="https://www.twitter.com/cowtek"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/cowtek"><i class="fa fa-linkedin"></i></a>
  </div>
</footer>
