<header role="banner" id="header">
  <a role="link" href="/" id="logo-heading-wrapper">
    <img role="img" aria-label="Official logo" src="/img/logo.png">
    <div>
      <h1>COWTEK</h1>
      <small>Christer Olsen Web and Technology</small>
    </div>
  </a>
  <nav role="navigation">
    <div role="menu" id="menu">
      <button id="menu-button" class="fa fa-bars"></button>
      <div id="menu-content">
        <a href="/about">About</a>
        <a href="/web">Web Development</a>
        <a href="/tech">Tech Support</a>
        <a href="/announcements">Announcements</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
  </nav>
</header>
