<header id="header" role="banner">
  <a href="/" id="logo-heading-wrapper">
    <img role="img" aria-label="Official logo" src="/img/logo.png" alt="Official logo">
    <div>
      <h1>COWTEK</h1>
      <small>Christer Olsen Web and Technology</small>
    </div>
  </a>
  <div role="menu">
    <button id="menu-button" class="fa fa-bars"></button>
    <nav role="navigation" id="menu-content">
      <a tabindex="-1" class="nav-link" href="/about">About</a>
      <a tabindex="-1" class="nav-link" href="/web">Web</a>
      <a tabindex="-1" class="nav-link" href="/tech-support">Tech Support</a>
      <a tabindex="-1" class="nav-link" href="/activity">Activity</a>
      <a tabindex="-1" class="nav-link" href="/contact">Contact</a>
    </nav>
  </div>
</header>
