<extends src='templates/_default.html'>
  <block name="stylesheet">
    <link rel='stylesheet' href='/css/home.css'>
  </block>

  <block name="header">
    <include src="includes/_header.html"></include>
  </block>

  <block name='content'>
    <section id="intro" role="region" aria-label="Introduction">
      <h1>All Things Web and Tech Support</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris massa lacus, scelerisque sit amet porta et, tincidunt at ante. Quisque sem
        libero, luctus id nulla quis, ultrices pharetra erat. Vestibulum lorem lorem, fringilla vitae velit id, sodales rhoncus est.
      </p>
      <p>Feel like I could help you out? Let's talk then!</p>
      <form id="contact-form" role="form" method="post" action="https://formspree.io/colsen1991@gmail.com" aria-label="Contact form">
        <input type="text" name="name" placeholder="Name..." aria-label="Name">
        <input type="email" name="email" placeholder="Email..." aria-label="Email">
        <input type="tel" name="phone" placeholder="Phone..." aria-label="Phone number">

        <input type="submit" value="Contact Me" aria-label="Submit contact details">

        <input type="hidden" name="_next" value="/thanks">
        <input type="checkbox" placeholder="Check me if you are human" name="_gotcha" style="display:none">
      </form>
    </section>
    <section id="services" role="region" aria-label="Services">
      <h1>Services</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris massa lacus, scelerisque sit amet porta et, tincidunt at ante. Quisque sem
        libero, luctus id nulla quis, ultrices pharetra erat. Vestibulum lorem lorem, fringilla vitae velit id, sodales rhoncus est.
      </p>
      <a href="/web">
        <img src="/img/wireframe-s.png">
        <p>All Things Web</p>
      </a>
      <a href="/web">
        <img src="/img/wireframe-s.png">
        <p>Tech Support</p>
      </a>
    </section>
    <section id="activity" role="region" aria-label="Activity">
      <h1>Activity</h1>
      <p>Sorry, no publications, announcements or social media feed available at this time.</p>
    </section>
  </block>

  <block name="footer">
    <include src="includes/_footer.html"></include>
  </block>

  <block name="javascript">
    <script src="/js/main.js"></script>
  </block>
</extends>
