<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="google-site-verification" content="Vfpp-BD0JgMRZ9l9XzFnf7ApMky8TLu_E-gCWFuew9g" />
  
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="robots" content="index">

  <link rel='author' href='/humans.txt'>
  <link rel="me" href="https://github.com/colsen1991" type="text/html">

  <block name="og">
    <meta property="og:title" content="COWTEK">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A Norwegian web development and tech support company">
    <meta property="og:image" content="http://www.cowtek.no/img/ogimage.png">
    <meta property="og:url" content="https://www.cowtek.no">
  </block>

  <link rel="manifest" type="text/json" href="/manifest.json">
  <meta name="theme-color" content="#FFF">
  <meta name="application-name" content="COWTEK">
  <meta name="description" content="A Norwegian web development and tech support company">
  <meta name="mobile-web-app-capable" content="yes">

  <meta name="msapplication-config" content="/browserconfig.xml">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#FFF">
  <meta name="apple-mobile-web-app-title" content="COWTEK">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#FFF">

  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="shortcut icon" href="/img/favicon.ico">

  <block name="title">
    <title>COWTEK - Web & Tech</title>
  </block>

  <link rel='stylesheet' href='/css/global.css'>
  <block name="stylesheet"></block>
</head>
<body role='document'>
<block name="header"></block>

<main id="main" role='main'>
  <block name='content'></block>
</main>

<block name="footer"></block>


<script src="https://use.fontawesome.com/49eb0234dd.js"></script>
<block name="javascript"></block>
</body>
</html>
